body {
  background:url('planet.jpg');
}
h1 {
  font-family: 'Audiowide';
  color: #FFFFFF;
  font-size: 3.5em;
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
th {
  background-color: #424153;
  color: #FFFFFF;
  font-size: 1em;
  width: 50px;
  padding: 15px 10px 15px 10px;
  text-align: center;
  border: 1px solid #000000;
}
tr {
  font-family: 'Expletus Sans';
  color: #FFFFFF;
  padding: 15px 10px 15px 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #000000;
}
td {
  font-family: 'Nova Square';
  color: #FFFFFF;
  font-size: 1em;
  padding: 15px 10px 15px 10px;
  text-align: center;
  border: 1px solid #000000;
}
.planet {
  font-family: 'Squada One';
  font-size: 2em;
}
.earth {
  background-color: #8ca3a3;
  font-size: 2em;
}
.mars {
  background-color: #563f46;
  font-size: 2em;
}
.jupiter {
  background-color: #625750;
  font-size: 2em;
}
.saturn {
  background-color: #cab577;
  font-size: 2em;
}
.earthinfo {
  background-color: #9cb0b0;
}
.marsinfo {
  background-color: #9d7b85;
}
.jupiterinfo {
  background-color: #988a81;
}
.saturninfo {
  background-color: #d4c391;
}
